* {
  box-sizing: border-box;
}

hr {
  width: 80%;
}

.fullwidth-intro {
  background-color: #ffc600;
  min-height: 100vh;
  color: white;
  text-align: center;
  padding-top: 30vh;
}

.fullwidth-intro h1 {
  font-size: 4em;
}

.skills {
  padding-top: 12vh;
  text-align: center;
  min-height: 80vh;

}

.skills li {
  text-decoration: none;
  list-style: none;
}

.about {
  padding-top: 12vh;
  text-align: center;
  min-height: 80vh;
}

.avatar {
  border-radius:50%;
  width: 90%;
  padding-top: 10%;
}

.experience {
  padding-top: 12vh;
  text-align: center;
  min-height: 80vh;
}

.experience h2 {
  font-size: 2em;
}

.experience h3 {
  font-size: 1.3em;
}

.projects {
  padding-top: 12vh;
  text-align: center;
  min-height: 80vh;
}

.projects h2 {
  font-size: 2em;
}

.project {
  border: 1px solid gainsboro;
  width: 100%;
  height: 50vh;
  padding-top: 20%;
  margin-bottom: 1%;
  margin-left: 1%
}

.education {
  padding-top: 12vh;
  text-align: center;
  min-height: 80vh;
}

.education h2 {
  font-size: 2em;
}

.education h3 {
  font-size: 1.3em;
}

.contact {
  padding-top: 12vh;
  text-align: center;
  min-height: 80vh;
  background-color: #262626;
}

.light {
  color: #262626;
}

.dark {
  color: white;
}
