* {
  box-sizing: border-box;
  position: relative;

}

html, body {
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin-top: 0;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 700;
}
body {
    font-family: Helvetica, Helvetica Neue, Arial;
}

audio,
canvas,
img,
video {
    vertical-align: middle;

}



hr {
  width: 100%;
  margin-bottom: 5vh;
  margin-top: 0px;
  background-color: #262626;
  height: 1px;
  border: 0;
}

span.underline-primary {
  border-bottom: 0.15em solid #ffc600;
  padding-bottom: 0.1em;
}

span.underline-secondary {
  border-bottom: 0.15em solid #262626;
  padding-bottom: 0.1em;
}

span.underline-white {
  border-bottom: 0.15em solid white;
  padding-bottom: 0.1em;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.fullwidth-intro {
  background-color: #ffc600;
  min-height: 100vh;
  color: white;
  text-align: center;
  padding-top: 42vh;
}

.fullwidth-intro h1 {
  font-size: 4em;
  width: 90%;

}

#main-nav {
  position: absolute;
  top: 5vh;
  text-decoration: none;
  list-style: none;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.1em;
}

#main-nav li {
  display: inline-block;
  width: 10vw;
  color: white;
}

#main-nav a:visited {
  text-decoration: none;
  color: white;
}

.about {
  padding-top: 20vh;
  text-align: center;
  min-height: 110vh;
  background-color: #262626;
}

.about-card {
  background-color: white;
  padding: 3em;
  border: 1px solid gainsboro;
  opacity: 0;
  /*transition: 2s;*/
  -webkit-transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition:         all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  right: 100%;
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
  -moz-animation: rotate(10deg);
  transform: rotate(10deg);
}

.transition-about-card {
  opacity: 1;
  right: 0%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  -moz-animation: rotate(0deg);
  transform: rotate(0deg);
}


.skills {
  padding-top: 20vh;
  text-align: center;
  min-height: 80vh;
  color: #262626;
  background-color: #ffc600;
}

.skills li {
  text-decoration: none;
  list-style: none;
}


.avatar {
  border-radius:50%;
  width: 90%;
  padding-top: 10%;
}

.experience {

  padding-top: 10vh;
  text-align: center;
  /*min-height: 80vh;*/

}

.experience h2 {
  font-size: 1.5em;
  line-height: 80%;
}

.experience h3 {
  font-size: 1.2em;
  line-height: 80%;
}
.experience h4 {
  font-size: 1.1em;
  line-height: 80%;
}

.experience p {
  text-align: left;
}

.job {
  height: 40vh;
  padding-top: 10vh;
}

.projects {
  padding-top: 12vh;
  text-align: center;
  min-height: 80vh;
}

.projects h2 {
  font-size: 2em;
}

.project {
  border: 1px solid gainsboro;
  width: 100%;
  height: 50vh;
  padding-top: 20%;
  margin-bottom: 1%;
  margin-left: 1%
}



.education {
  padding-top: 12vh;
  text-align: center;
  min-height: 80vh;
}

.education h2 {
  font-size: 1.5em;
}

.education h3 {
  font-size: 1.2em;
}

.education h4 {
  font-size: 1.1em;
}

.contact {
  padding-top: 12vh;
  text-align: center;
  min-height: 80vh;
  background-color: #262626;
  color: white;
}


/* ==========================================================================
   Start of projects scrollmagic
   ========================================================================== */
.wrapper {
    width: 60%;
    margin-left: 3em;

}

p {
  font-size: 16px;
}

#slide01, #slide03, #slide05 {
  background-color: #FFFFFF;
}

#slide00, #slide02, #slide04 {
  background-color: #EDEDED;
}

.slide {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
    .slide .pin-wrapper {
        width: 100%;
        height: 100%;
    }
    .slide .wrapper {
        position: absolute;
        top: 35%;
        left: 50%;
        padding-right: 18vw;
    }
    .slide .img {
        position: absolute;
        top: 50%;
        left: 45%;
        width: 700px;
        height: 418px;
        background: url(../images/img_macbook01.png) no-repeat top left;
        transform: translate(-80%, -40%);
    }

#slide02 .img {
  background-image: url(../images/img_macbook02.png);}

#slide03 .img {
  background-image: url(../images/img_macbook01.png);}

#slide04 .img {
  background-image: url(../images/img_macbook02.png);}

#slide02 .pin-wrapper, #slide03 .pin-wrapper, #slide04 .pin-wrapper {
  transform: translateY(-100%);
}
/*#slide03 .pin-wrapper {
  transform: translateY(-100%);
}*/
.scrollmagic-pin-spacer {

  position: absolute!important;
  clip: rect(auto auto auto auto);
}

/* =Footer */
.footer-container {
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #06060d;
}
.footer-container .wrapper {
    width: 80%;
    max-width: none;
    margin: 0 10%;
}
.footer-container h3 {
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
}
.footer-container a {
    color: rgba(255, 255, 255, 0.5);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

  @media (max-width: 480px) {

    .slide .wrapper {
      top: 60%;
      left: 5%;
      padding-right: 5vw;
    }
    .slide .img {
        top: 46%;
        left: 66%;
        width: 70vw;
        height: 20vh;
        background-size: contain;
    }
  }
